@model Projektarbete_ASP.NET.Models.Domain.Movie

<div class="col-3 mb-3 m-3 border text-start">
    <a href="/movies/@Model.UrlSlug" class="text-decoration-none text-black">
        <img src="@Model.ImageUrl"
             alt=""
             class="mb-2"
             style="width: 100%" />
        <div class="row mb-1">
            <div class="rating col">
                <i class="bi bi-star-fill"></i>@Model.Rating
            </div>
        </div>
        <div class="row mb-1">
            <div class="title col">
                @Model.Title
            </div>
        </div>
        <div class="row mb-1">
            <div class="releaseYear col">@Model.ReleaseYear</div>
        </div>
    </a>
</div>
